<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Rut:</strong>
    <%= estudiante.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= estudiante.nombre %>
  </p>

  <p>
    <strong>Apellido mat:</strong>
    <%= estudiante.apellido_mat %>
  </p>

  <p>
    <strong>Apellido pat:</strong>
    <%= estudiante.apellido_pat %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= estudiante.direccion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= estudiante.comuna_id %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= estudiante.curso_id %>
  </p>

</div>
